* {box-sizing: border-box;}

body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header{
    background-color: #b4b0b0;
    overflow: hidden;
    padding: 15px 5px;
}

.header a{
    float: left;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    font-size: 20px;
    line-height: 35px;
    opacity: 0.5;
    background-color: #b4b0b0;
    transition: background-color 0.2s;
}

.header a:hover{
    background-color: rgb(209, 214, 214);
    opacity: 0.7;
}

.header a.budget{
    font-size: 30px;
}

.header a:active{
    background-color: white;
    opacity: 0.3;
}

.header-right{
    float: right;
}

.info-box{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    color: blueviolet;
    width: 30%;
    padding: 20px;
    margin: auto;
}
